<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='/styles.css'/>
		<title> career </title>
		<link rel="icon" type="favicon/x-icon" href="/icon.png">
	</head>
	<body
		<header id="header">
			<nav id="menu">
				<ul>
					<li><a href="/careers">CARRERAS</a></li>
					<li><a href="https://github.com/ENPera1994/AyDS-speedrun">CODIGO FUENTE</a></li>
				</ul>
			</nav>
		</header>
		<div id="banner">
			<h1 >Welcome to AyDS speed run</h1>
		</div>
		<br>
		<br>
		<ul>
			<% career = @career %>
			<!-- <li> id: <%= career.id %> </li> -->
			<li> name: <%= career.name %> </li>
			<li> cantidad de resultados count: <%= career.surveys.count.to_s %> </li>
			<li> description: <%= career.description %> </li>
		</ul>
	</body>
</html>