<!DOCTYPE html>
<html>
	<head>
		<link href="style.css" rel="stylesheet" type="text/css">
		<h1 style="text-align:center;">listing all careers </h1>
	</head>
	<body
		<ul>
			<% career = @career %>
			<li> id: <%= career.id %> </li>
			<li> name: <%= career.name %> </li>
			<li> surveys count: <%= career.surveys.count.to_s %> </li>
			<li> description: <%= career.description %> </li>
		</ul>
	</body>
</html>