<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='/styles.css'/>
		<title>listing all created careers</title>
		<link rel="icon" type="favicon/x-icon" href="/icon.png">
	</head>

	<body>
		<header id="header">
			<nav id="menu">
				<ul>
					<li><a href="/careers">CARRERAS</a></li>
					<li><a href="https://github.com/ENPera1994/AyDS-speedrun">CODIGO FUENTE</a></li>
				</ul>
			</nav>
		</header>
		<div id="banner">
			<h1>listing all created careers </h1>
		</div>
		<br>
		<br>
		<ul style="text-align:center;"> 
			<% @careers.map do |career| %>
				<li>
					<a href="careers/<%= career.id %>"> <%= career.name %></a>
					(<%= career.surveys.count.to_s %>)
				</li>
			<% end %>
		</ul>
	</body>
</html>