<!DOCTYPE html>
<html>
	<head>
		<title>Vocational Test Speed Run</title>
		<link rel='stylesheet' type='text/css' href='/styles.css'/>
		<link rel="icon" type="favicon/x-icon" href="/icon.png">

	</head>

	<body>

		<header id="header">
			<nav id="menu">
				<ul>
					<li><a href="/careers">CARRERAS</a></li>
					<li><a href="https://github.com/ENPera1994/AyDS-speedrun">CODIGO FUENTE</a></li>
				</ul>
			</nav>
		</header>
		<div id="banner">
			<h1 >Bienvenido a AyDS speed run</h1>
		</div>
		<br>
		<br>
		<p style="text-align:center;"> Hola, esta web es sobre un test vocacional. Quieres saber que carrera estudiar?</p><br/>

		<p style="text-align:center;"> Por favor ingresa tu nombre </p>

		<div id="login">
			<form action='/surveys' method='POST'>
				<input type='text' name='username' placeholder='Nombre de Usuario' required>
				<input class='button' type='submit' value='Continue'>
			</form> 
		</div>

		<div id="formulario">
			<form action='/' method='POST'>
	
				<br><h3>Consultar cantidad de resultados de una carrera entre dos fechas</h3>

				<br><label>Primera Fecha</label>
				<input type="date" id="first_date" name="first_date">
				<br><label>Ultima Fecha</label>
				<input type="date" id="last_date" name="last_date">

				<br><label>Carrera</label>
				<select name="career_name", id="Carrera">
					<option>Carrera</option>
					<option>Computacion</option>
					<option>Veterinaria</option>
					<option>Agronomia</option>
					<option>Arquitectura</option>
					<option>Arte</option>
					<option>Economia</option>
					<option>Educacion fisica</option>
					<option>Filosofia</option>
					<option>Fisica</option>
					<option>Geologia</option>
					<option>Historia</option>
					<option>Literaruta</option>
					<option>Matematicas</option>
					<option>Medicina</option>
					<option>Periodismo</option>
					<option>Quimica</option>
					<option>Sociologia</option>
				</select>

				<br><input class='button' type="submit" value='Consultar'><br><br><br>
				
				<% if @consulted %>
					<% if @invalid_parameters %>
						<p style="text-align:center;"> Por favor llena todos los campos de la consulta: </p>
					<% else %>
						<p style="text-align:center;"> Resultado de la consulta: </p>
						<%= @career_name + ": " + @career_count + " resultados" %> <br>
					<% end %>
				<% end %>

			</form>
		</div>

	</body>

</html>
