<!DOCTYPE html>
<html>
	<head>
		<title>Vocational Test Speed Run</title>
		<link rel='stylesheet' type='text/css' href='/styles.css'/>
		<link rel="icon" type="favicon/x-icon" href="/icon.png">

	</head>

	<body>

		<header id="header">
			<nav id="menu">
				<ul>
					<li><a href="/careers">CARRERAS</a></li>
					<li><a href="https://github.com/ENPera1994/AyDS-speedrun">CODIGO FUENTE</a></li>
				</ul>
			</nav>
		</header>
		<div id="banner">
			<h1 >Bienvenido to AyDS speed run</h1>
		</div>
		<br>
		<br>
		<p style="text-align:center;"> Hola, esta web es sobre un test vocacional. Quieres saber que carrera estudiar?</p><br/>

		<p style="text-align:center;"> Por favor ingresa tu nombre </p>

		<div id="login">
			<form action='/surveys' method='POST'>
				<input type='text' name='username' placeholder='Nombre de Usuario' required>
				<input class='button' type='submit' value='Continue'>
			</form> 
		</div>

	</body>

</html>
