<!DOCTYPE html>
<html>
	<head>
		<title>Vocational Test Speed Run</title>
		<link href="style.css" rel="stylesheet" type="text/css">
		<h1 style="text-align:center;">Welcome to AyDS speed run </h1>
		<hr>

	</head>

	<body>
		<p style="text-align:center;"> Hello, this website is about a vocational questionnaire. Do you want to know what career to study?</p><br/>

		<p style="text-align:center;"> Please enter your username </p>

		<div id="centrar-form">
			<form action='/surveys' method='POST'>
				<label class='label' for='username'><b>Ingrese nombre de Usuario</b></label> <br>
				<input type='text' name='username' placeholder='Nombre de Usuario' required>
				<input class='button' type='submit' value='Guardar'>
			</form> 
		</div>

	</body>

</html>
