<!DOCTYPE html>
<html>
	<head>
		<link href="style.css" rel="stylesheet" type="text/css">
		<h1 style="text-align:center;">Resultado de tu Test Vocacional</h1>
	</head>

	<body>
        
    </body>
</html>